.DS_Store
*.xcodeproj
Project.xcconfig
obj
browse.db
browse.db-shm
browse.db-wal

trikz
trikz_debug
trikz.app
trikz_debug.app

# wildcards
*.app
*.exe
*.plist
*.log
*.dll.code-workspace
*.code-workspace
